[Unit]
Description=Configure eth0 interface
After=plymouth-quit-wait.service
After=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 30
ExecStart=/etc/systemd/system/config-eth0.sh

[Install]
WantedBy=multi-user.target
